importFrom(ggplot2, ggplotGrob)
importFrom(grid, convertHeight, convertUnit, convertWidth, gList, gTree, gpar, grobHeight, grobTree, grid.draw, grid.newpage, nullGrob, popViewport, pushViewport, rasterGrob, rectGrob, roundrectGrob, stringWidth, textGrob, unit, unit.c, viewport, vpStack)
importFrom(grDevices, dev.off, pdf)
importFrom(gridtext, textbox_grob)
importFrom(gtable, gtable, gtable_add_grob, gtable_add_rows)
importFrom(jpeg, readJPEG)
importFrom(png, readPNG)
importFrom(tools, file_ext)
exportPattern("^[[:alpha:]]+")
